.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;


    &-primary {
      background-color: #a2489a;
      border: 1px solid #a2489a;
      &:hover {
        background-color: #ba63b9;
        border: 1px solid #ba63b9;
      }
    }

    &-transparent{
      background-color: transparent;
      border: 1px solid #a2489a;
      color: #a2489a;
      &:hover {
        background-color: #a2489a;
        border: 1px solid #a2489a;
        color: #fff;
      }
    }
}
